*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 16px;
}

body {
    width: 100vw;
    height: max-content;
    overflow-x: hidden;
    font-size: 1em;
    background-color: white;
    background: rgb(0, 110, 225);
    position: relative;
}



#MAIN_HEADER {
    width: 100vw;
    height: max-content;
    display: flex;
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
}



#MAIN_NAVIGATION_BAR {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 0 0.5rem black;
    color: #fff9;
}



#MAIN_NAVIGATION_BAR > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-around;
}



#WEBPAGE_HEADING {
    font-size: 2.2rem;
}



/* PROPERTIES OF BACK LINK */
#BACK_LINK {
    font-size: 1.5rem;
    font-weight: 900;
    background-color: #fff3;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    text-align: center;
    align-content: center;
}
#BACK_LINK:hover {
    background-color: #fff4;
}
#BACK_LINK:active {
    background-color: #fff5;
}



/* PROPERTIES OF DETAILS CONTAINER ONE */
#DETAILS_ONE {
    display: grid;
    margin: 1rem 0rem;
    border: 1px solid white;
    width: 100vw;
    height: 20vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr;
}



/* PROPERTIES OF DETAIL ONE TITLE BOXES AND CONTAINERS */
.DOne_Titles, .DOne_Containers {
    color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid white;
}



/* PROPERTIES OF DETAIL ONE NAME CONTAINER */
#DOne_NameTitle {
    grid-row: 1/2;
    grid-column: 1/2;
}
#DOne_NameContainer {
    grid-row: 2/3;
    grid-column: 1/2;
}



/* PROPERTIES OF DETAIL ONE ROLL NUMBER CONTAINER */
#DOne_RollNumTitle {
    grid-row: 1/2;
    grid-column: 2/3;
}
#DOne_RollNumContainer {
    grid-row: 2/3;
    grid-column: 2/3;
}



/* PROPERTIES OF DETAIL ONE ADMISSION NUMBER CONTAINER */
#DOne_AdmNumTitle {
    grid-row: 1/2;
    grid-column: 3/4;
}
#DOne_AdmNumContainer {
    grid-row: 2/3;
    grid-column: 3/4;
}



/* PROPERTIES OF DETAIL ONE DATE OF BIRTH CONTAINER */
#DOne_DOBTitle {
    grid-row: 1/2;
    grid-column: 4/5;
}
#DOne_DOBContainer {
    grid-row: 2/3;
    grid-column: 4/5;
}